# IDE settings directories
.idea
.vscode

# macOS directory attributes
.DS_Store

# Dependency directories
node_modules

# Jest coverage report
/coverage

# Javascript (compiled) version
/lib

# Secrets
.env
